<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studentmanagementapp">

    <!-- Quyền truy cập Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentManagementApp">

        <!-- Activity khởi chạy đầu tiên -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".student.StudentManagementActivity"/>

        <!-- Các Activity còn lại -->
        <activity android:name=".LoginActivity"/>
        <activity android:name=".dashboard.AdminActivity"/>
        <activity android:name=".user.UserManagementActivity"/>
        <activity android:name=".admin.HistoryViewActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".dashboard.EmployeeActivity"/>
        <activity android:name=".dashboard.ManagerActivity"/>

    </application>

</manifest>
